@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    background-color: #f8f9fa;
}

.container{
    padding: 0 5rem;
}
.page{
    /* margin-top: 5rem; */
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 5rem 0 3rem 0;
}

.mobile_navbar_toggled{
    display: block;
    position: absolute;
    top: 170%;
    right: -10%;
    background:  #212529;
    height:15rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    padding-left: 2rem;
}

.mobile_navbar_toggled a:link, a:visited{
    display: block;
}

.container_page{
    min-height: 70vh;
}

@media screen and (max-width: 576px){
    .mobile_navbar_toggled{
        height:15rem;
        width: 15rem;
    }
}